.header {
    height: 100px;
    background-color: #343a40;
    color: whitesmoke;
    font-size: 1.5rempx;
    text-align: center;
    line-height: 100px;
    box-shadow: 0 5px 0 black

    /**em e rem pega do elemento pai(HTML)*/
    

}



@media (max-width: 480px){
    .header{
        font-size: 1rem;
    }
}